.nav{
    width: 99vw;
    height: 55px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(0, 0, 0); */
    border: 2px solid rgb(25, 25, 25);
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 5px;
}
.logo{
    box-sizing: border-box;
    line-height: 55px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    width: 10vw;
    text-transform: uppercase;
    height: 100%;
    font-weight: 900 !important;
    font-family: monospace;
    font-size: 24px;
    display: flex;
    font-family: monospace;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /* text-shadow: 0 2px 2px rgb(93, 92, 92); */
    color: rgb(0, 0, 0);
    /* -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 0.2px; */
    /* border: 2px solid balck; */
    
}
.border {
    width: 100%;
    /* border: 2px solid rgb(255, 0, 0); */
    box-sizing: border-box;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    height: 80%;
    justify-content: center;
    line-height: 55px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgb(255, 255, 255); */
    /* animation: glowAnimation 1s infinite alternate; */
    display: flex;
    justify-content: center;
    /* background-color: rgb(255, 255, 255); */
    align-items: center;
}
b{
    
    font-size: 18px;
}
.center{
    width: 40vw;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.admin{
    box-sizing: border-box;
    line-height: 55px;
    margin: 0;
    padding: 0;
    padding-right: 20px;
    width: 10vw;
    text-transform: uppercase;
    height: 100%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
}
.search{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input{
    margin: 0;
    background-color: bisque;
    padding: 0;
    box-sizing: border-box;
    width: 90%;
    height: 30px;
    border: 2px solid rgb(25,25,25);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 15px;
    color: black;
}
button{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 10%;
    height: 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: black;
    font-weight: 500;
    font-size: 15px;
    box-sizing: border-box;
    border: 2px solid rgb(25, 25, 25);
    margin: 0;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnlog{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 70px;
    height: 32px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 15px;
    box-sizing: border-box;
    border: 0.5px solid rgb(0, 0, 0);
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    margin-left: 5px;
}

@keyframes glowAnimation {
    /* Increase the shadow size and opacity */
    0% {
      box-shadow: 0 0 10px rgba(255, 0, 195, 0.5);
    }
    /* Decrease the shadow size and opacity */
    100% {
      box-shadow: 0 0 20px rgba(0, 0, 255, 1);
    }
}

/* .admin{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
} */