/* background-color: #242424; */
/* background-color: #1a1a1a; */
body{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  /* background: url(./assets/background2.jpg); */
  background-size: cover;
}
